<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success ps-2">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>
      <form action="/login" method="post" class="pe-2">
        <input type="text" class="form-control d-inline-block" style="width:30ch" name="username"
          placeholder="Username" />
        <input type="submit" class="d-inline-block btn btn-primary" style="position:relative;bottom:3px"
          value="Login" />
      </form>
    </div>
  </nav>
</header>